.collection__title {
    padding: 48px 0;
    text-align: start;

    @include mobile {
        padding: 24px 0;
        text-align: center;
    }

}

.collection__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

}