.logo,
a.logo {
    color: black;
    font-family: var(--font-accent);
    font-size: 24px;
    font-weight: 500;
    line-height: 1;

    @include mobile {
        font-size: 16px;
        line-height: 1.5;
    }

    &--footer {

        color: #ffffff;

        @include mobile {
            font-size: 24px;
        }

    }
}