<div class="swiper-slide">
    <article class="card">
        <!-- <a href="#!" class="card__link"></a> -->
        <div class="card__picture">
            <img
                src="./img/cards/@@img.jpg"
                srcset="./img/cards/@@img@2x.jpg 2x"
                alt=" Skullcandy Crusher"
            />
            <div class="card__new">@@status</div>
            <div class="card__fav">
                <button class="fav-btn">
                    <img src="./img/icons/shape.svg" alt="Shape" />
                </button>
            </div>
            <div class="card__btn">
                <button class="button button--arrivals" type="button">
                    Add to cart
                </button>
            </div>
        </div>
        <div class="card__desc">
            <div class="card__rating">
                @@for (var i=0; i < context.rating; i++){
                <img src="./img/icons/rating-star.svg" alt="rating star" />
                }
            </div>
            <p class="card__titel">@@titel</p>
            <div class="card__price">@@price</div>
        </div>
    </article>
</div>
